__pycache__/
cfg/source-python/
!cfg/source-python/*/readme.md
logs/source-python/
!cfg/source-python/*/readme.md
resource/source-python/events/
!resource/source-python/events/*/readme.md
*_server.ini
